# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
build/
dist/

# Go
bin/
*.out
coverage.html

# IDE
.DS_Store

# bin
gateway/gateway
gateway/godemo-gateway
gateway/godemo-gateway-test
sdk/go/godemo-cli